// ====================================
// BOOTSTRAP UTILITIES
// ====================================
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import '~antd/dist/antd.css';


//
$primary-color-navbar : '' ;


// =====================================
// PRODUCT MODAL
// =====================================
//
//.product-card {
//  height: 75%;
//}

//TODO: Fix Scrollbar by Third Party Library
::-webkit-scrollbar {
  width: 1em;
  height: 1em
}

.ant-col-xl-4 {
  width: 20% !important;
}

.product-row {
  .ant-card {
    border: none;
    margin-bottom: 2 * $spacer;
  }

  .product-card-image {
    width: 100%;
    padding-top : 100%;
    background-color: #eee;
    background-image: url("https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .ant-card-head {
    padding: 0;
  }

  .ant-card-head-title{
    padding: 0;
  }
}

.product-card {

  .ant-card {
    border: none;
    margin-right: $spacer;
  }

  .product-card-image {
    width: 100%;
    padding-top: 100%;
    background-color: #eee;
    background-image: url("https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .ant-card-head {
    padding: 0;
  }

}

.product-modal-text p, .product-modal-text h2, .product-modal-text h3 {
  color: #222;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.6;
  text-align: left;
  font-size: 3rem;
}

.product-modal-text span {
  color: #222;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.6;
  text-align: left;
  font-size: 2rem;
}

#seller {
  font-weight: 300;
  color: #777;
  font-size: 1.5rem;
}

#description-title {
  font-size: 1.5rem;
}

#description {
  font-size: 1rem;
  color: #777;
  letter-spacing: 0;
  font-weight: 300;
}

#rating {
  float: right;
  font-size: 1.3rem;
}

.product-modal-text .buy {
  font-size: 2rem;
  margin: 0 0 0.75em 0.5em;
  padding: 5px 30px;
}

.suggestions-card {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.suggestions-card:hover {
  //transform: scale(1.03);
  border: 10px solid #e83e8c;
}

.suggestions-card .ant-card, .suggestions-card img {
  //width: 14vw;
  //height: 14vw;
}

.suggestions-card {

  .ant-card {
    border: none;
    margin-right: $spacer;
  }

  .product-card-image {
    width: 250px;
    height: 250px;
    background-color: #eee;
    background-image: url("https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .ant-card-head {
    padding: 0;
  }
}

.suggestions-card:first-child {
  margin-left: 0 !important;
}

.product-card .ant-card-body, .suggestions-card .ant-card-body {
  padding: 0;
}

.suggestions-panel {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

// =================================================
// HOME PAGE
// =================================================

.logo {
  margin: 0 24px 0 24px;
  float: left;
}

.ant-carousel .slick-slide > div, .ant-carousel img, .img-container {
  height: 100%;
  width: 100%;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 60vh;
  line-height: 30vh;
  overflow: hidden;
}

.section-heading {
  letter-spacing: 0.05em;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  padding-bottom: 15px;
}

.content {
  text-align: center;
  color: #222;
  margin-bottom: 30px;
}

.product-display-card {
  margin-bottom: 24;
  transition: transform .3s ease-in-out;
}

.product-display-card img {
  margin-bottom: 10px;
  //border-radius: 5px;
}

.product-display-card a:hover {
  text-decoration: none;
}

.product-row .ant-card {
  margin-bottom: $spacer;
}

.product-display-card:hover img {
  //transform: scale(1.03);
  border:5px solid #e83e8c;
  //box-sizing: padding-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-display-card p {
  text-align: left;
  margin-bottom: 0;
  color: #222;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  padding-left: 0.2em;
}

.title-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-display-card .seller-text {
  color: #777;
  font-size: 12px;
}

.product-display-card .price-text {
  font-weight: 500;
}

.product-display-card .ant-card-body {
  padding: 0;
}
